page-users {
    
   .a1{
       font-size: 40px;
       color:white;
   } 
   .c1{
       font-size:40px;
       color:white;
   }
}
.icon1{ 
    background-color:#079dbf;
}
.b1{
    color:white;
    font-size:40px;
}
.a{
    font-size:10px;
}
.pic{
   width:14em;
   height: 14em;
    color:#079dbf;
    text-align:center !important;
    border-radius: 50%;
    margin:auto;
    display: block;
}
.ic1{
    font-size:30px;
    color:#079dbf;
    float: right;
    padding-bottom: 20px;
}
.x{
    clear: both;
}
.ic2{
    font-size:45px;
    color:#079dbf;
    float: right;
}
.ic3{
    font-size:45px;
    color:#079dbf;
}


