page-harita {

}
.head {
    background-color:white;
    text-align:center;
    color:#079dbf;
    font-size:25px;
    font-family:"Bookman Old Style";
}
.icon1{
    background-color:#079dbf; 
    color:white;

}
.icona{
    color:#079dbf;
    
}

